@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container{
  height: 40vh;
  background-color: rgb(255, 255, 255);
}

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#form{
  width: 600px;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#form h1{
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px rgb(136, 4, 4);
}

#form input{
  width: 300px;
  padding: 14px;

  border: 1px solid rgb(136, 4, 4);
  font-family: Arial, Helvetica, sans-serif;
  outline: none;

}

#form button{
  padding: 14px;

  border: 1px solid lightgray;
  background-color: whitesmoke;

  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;

  transition: 0.3s ease-out;
}

#form button:hover{
  color:white;
  background-color:  rgb(136, 4, 4);

}

.errors{
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
}

.success{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: black;
}

#download-btn{
  width: fit-content;
  color: black;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid rgb(0, 0, 0);
  transition: 0.3s ease-out;
}

#download-btn:hover{
  color:rgb(255, 255, 255);
  background-color:  rgb(136, 4, 4);
  border: 3px solid rgb(0, 0, 0);
}

@media(max-width:768px){
  .bottom-container{
    
    width: 90%;
    margin: auto;
  }

  #form, .success{
    text-align: center;
    width: 100%;
  }
}

@media(max-width:480px){
  #form input{
    width: 50%;
  }
}
